html, body, * {
    box-sizing: border-box;
}


/* Nav bar */
nav {
    height: 30px;
}

nav > .nav-caption {
    float: left;
}

nav ul {
    float: right;
    margin: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0 3px 0;
    padding-left: 10px;
}

.flash {
    color: #f50;
}


/* Processing page */
.processing img {
    width: 90vw;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Library page */
.library img {
    width: 40vw;
}
