{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="info-container">
        <div>
            <h2 >About this project</h2>
        </div>
        <p class="text center">
            Colorize Beyond is the web app created on the base of deep learning pix2pix implementation by Jun-Yan Zhu. The basic feature of this web app allows you to upload and colorize grayscale pictures using a pre-trained deep learning pix2pix model. More advanced users can upload their own datasets and a backend worker will train models for them. Trained models can be used from web UI or via an HTTP API.
        </p>
    </div>
</div>
{%endblock%}