<!doctype html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home page</title>
</head>
<body>
<nav>
    <div class="nav-caption">
        <a href="/">Colorize Beyond</a>
    </div>
    <ul>
        <li><a href="/map">Map</a></li>
        {% if 'user_id' in session %}
            <li><a href="/training">More</a></li>
            <li><a href="/library">Library</a></li>
            <li><a href="/logout" id="log-out">Log out</a></li>
        {% else %}
            <li><a href="#">Log in</a></li>
        {% endif %}
    </ul>
</nav>

{% for flash in get_flashed_messages() %}
<div class="flash">
    {{ flash }}
</div>
{% endfor %}

{% block content %}
{% endblock %}

<script src="/static/main.js"></script>

</body>
</html>