<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"
    >
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous"
    >
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home page</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-main {{ 'navbar-bg' if not navbar_transparent else 'fixed-top' }}">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Colorize Beyond</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/info">About</a>
            </li>
            {% if 'user_id' in session %}
                <li class="nav-item">
                    <a class="nav-link active" href="/map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/training">More</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/library">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="log-out" href="/logout">Log out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        data-toggle="modal"
                        data-target="#login-modal"
                        href="#"
                    >Sign in</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Sign In</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/signin" method="POST">
                <div class="modal-body">
                    <div class="md-form mb-3">
                        <label for="email">Email:</label>
                        <input class="form-control validate" type="email" name="email" id="email">
                    </div>
                    <div class="md-form mb-3">
                        <label for="password">Password:</label>
                        <input class="form-control validate" type="password" name="password" id="password">
                    </div>
                </div>
                <div class="modal-footer justify-content-center p-3">
                    <input type="submit" class="btn btn-primary" value="Sign In">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Sign In</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/signup" method="POST">
                <div class="modal-body">
                    <div class="md-form mb-3">
                        <label for="name-register">Name:</label>
                        <input type="name" name="name" id="name-register" class="form-control validate">
                    </div>
                    <div class="md-form mb-3">
                        <label for="email-register">Email:</label>
                        <input type="email" name="email" id="email-register" class="form-control validate">
                    </div>
                    <div class="md-form mb-3">
                        <label for="password-register">Password:</label>
                        <input type="password" name="password" id="password-register" class="form-control validate">
                    </div>
                </div>
                <div class="modal-footer justify-content-center p-3">
                    <input type="submit" class="btn btn-primary" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</div>

{% for flash in get_flashed_messages() %}
<div class="flash d-none">
    {{ flash }}
</div>
{% endfor %}

{% block content %}
{% endblock %}

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"
></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
></script>

<script src="/static/main.js"></script>

</body>
</html>