{% extends 'base.html' %}
{% block content %}

<nav>
    <h1>Colorize bw photos</h1>
    <ul>
        <li>About</li>
        <li><a href="/library"> Library </a></li>
        <li><a href="/logout" id="log-out"> Log out </a></li>
    </ul>
    <div class="underline"></div>
</nav>
<div class="in-container">
    <!-- <button> Upload photo</button> -->

    <form method="POST" enctype="multipart/form-data" action="/upload">
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
</div>
<div id="library-element">
    <ul>{%for photo in photos:%}
        <div id="library-element">
            <img src="{{ s3_url_for(filename=photo.original_photo) }}" id="img-library">
            {%if photo.processed_photo %}
                <img src="{{ s3_url_for(filename=photo.processed_photo) }}" id="img-library">
            {% else %}
                <a href="/processing/{{ photo.photo_id }}">Colorize</a>
            {% endif %}
        </div>
        <br />
        {%endfor%}
    </ul>
</div>

{%endblock%}