{% extends 'base.html' %}
{% block content %}

<div class="library">
    <div class="container">
        <h2 class="mt-4 mb-3">
            Pusheen, this is your library
        </h2>
        <form
            method="POST"
            enctype="multipart/form-data"
            action="/upload"
            class="d-flex mb-4"
        >
            <div class="custom-file mr-4">
                <input type="file" class="custom-file-input" name="file">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <input type="submit" value="Upload" class="btn btn-primary btn-inline">
        </form>
        {% for photo in photos %}
            <div class="row mb-4" id="library-row-{{ photo.photo_id }}">
                <div class="col-sm">
                    <img
                        src="{{ s3_url_for(filename=photo.original_photo) }}"
                        class="img-fluid"
                    >
                </div>
                <div class="col-sm">
                    {% if photo.processed_photo %}
                        <img
                            src="{{ s3_url_for(filename=photo.processed_photo) }}"
                            class="img-fluid"
                        >
                    {% endif %}
                </div>
                <div class="library-actions-overlay">
                    <div class="buttons">
                        {% if not photo.processed_photo %}
                            <a
                                href="/processing/{{ photo.photo_id }}"
                                class="btn btn-primary"
                            >
                                Colorize
                            </a>
                        {% endif %}
                        <button
                            class="btn btn-default library-delete-pair"
                            data-photo-id="{{ photo.photo_id }}"
                        >
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
</div>

{%endblock%}