{% extends 'base.html' %}
{% block content %}

<div class="processing">
    <div id="process-form">
        <select id="process-select" default="0">
            <option value="0">Colorize</option>
            {% for dataset in datasets %}
                <option value="{{ dataset.dataset_id }}">{{ dataset.name }}</option>
            {% endfor %}
        </select>
        <button
            type="button"
            id="process-button"
            data-photo-id="{{ photo.photo_id }}"
        >
            Process
        </button>
    </div>
    <div class="processing-image">
        <img
            src="{{ s3_url_for(filename=photo.original_photo) }}"
            id="img-processing"
        >
    </div>
</div>

{% endblock %}