{% extends 'base.html' %}
{% block content %}

<p1> Upload your dataset and train a model</p1>
<br/>
<p2> Bbbbjsgflfh;aoij'ajahg;h;guh;oghh;;;ghaaluflshvbalbvh</p2>
<br/>
<br/>


<div class="in-container">
    <form method="POST" enctype="multipart/form-data" action="/upload-dataset">
        <label>Name</label>
        <input type="text" name="name">
        <input type=file name=file>
        <input type=submit value=UploadDataset>
    </form>

    {% for dataset in datasets %}
        {% if dataset.state != dataset.CREATED %}
            <div id="dataset-{{ dataset.dataset_id }}">
                <span>
                    {{ dataset.name }}
                </span>
                {% if dataset.state == dataset.UPLOADED %}
                    <button
                        type="button"
                        class="train-button"
                        data-dataset-id="{{ dataset.dataset_id }}"
                    >
                        Train
                    </button>
                {% elif dataset.state == dataset.TRAINING_COMPLETED %}
                    <span>Training completed.</span>
                {% else %}
                    <span>Processing.</span>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>

<script>
    "use strict";

    function trainDatasetCompleted(dataset_id) {
        $('#dataset-' + dataset_id + ' button').remove();
        $('#dataset-' + dataset_id).append("<span>Processing</span>");
    }

    function trainButtonClick(dataset_id) {
        $.post('/train-dataset/' + dataset_id, function () {
            trainDatasetCompleted(dataset_id);
        });
    }

    $('.train-button').on('click', function () {
        let dataset_id = $(this).data('dataset-id');
        trainButtonClick(dataset_id);
    });
</script>

{%endblock%}