{% extends 'base.html' %}
{% block content %}

<div class="training">
    <p1> Upload your dataset and train a model</p1>

    <form method="POST" enctype="multipart/form-data" action="/upload-dataset">
        <label>Name</label>
        <input type="text" name="name">
        <input type=file name=file>
        <input type=submit value=UploadDataset>
    </form>

    {% for dataset in datasets %}
        {% if dataset.state != dataset.CREATED %}
            <div id="dataset-{{ dataset.dataset_id }}">
                <span>
                    {{ dataset.name }}
                </span>
                {% if dataset.state == dataset.UPLOADED %}
                    <button
                        type="button"
                        class="train-button"
                        data-dataset-id="{{ dataset.dataset_id }}"
                    >
                        Train
                    </button>
                {% elif dataset.state == dataset.TRAINING_COMPLETED %}
                    <span>Training completed.</span>
                {% else %}
                    <span>Processing.</span>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>

{%endblock%}