{% extends 'base.html' %}
{% block content %}

<div class="training">
    <div class="container">
        <div class="info-container">
            <div>
                <h3> Upload your dataset and train a model</h3>
            </div>
            <p class="text center">
                This is a page for creating your own colorizing model. This app uses dataset
                to train a custom image-to-image translation model. By default it's trained to
                colorise portrait photos. To add additional process button you should first create
                your own dataset. The first step to do this is to choose a topic
                of pictures you want this app to colorize. It can be nature, cars, houses etc.
                The result of the trained model depends on how big provided dataset is.
                To provide the dataset pack all photos to zip archive and upload.
            </p>
            <form method="POST" enctype="multipart/form-data" action="/upload-dataset">
                <label>Name</label>
                <input type="text" name="name">
                <input type=file name=file>
                <input type=submit value=UploadDataset>
            </form>

            {% for dataset in datasets %}
                {% if dataset.state != dataset.CREATED %}
                    <div id="dataset-{{ dataset.dataset_id }}">
                        <span>
                            {{ dataset.name }}
                        </span>
                        {% if dataset.state == dataset.UPLOADED %}
                            <button
                                type="button"
                                class="train-button"
                                data-dataset-id="{{ dataset.dataset_id }}"
                            >
                                Train
                            </button>
                        {% elif dataset.state == dataset.TRAINING_COMPLETED %}
                            <span>Training completed.</span>
                        {% else %}
                            <span>Processing.</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{%endblock%}